.Tasklist{
  margin-top: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-radius: 10px;
}
.joinbtn{
  height: 40px;
  width: 60px;
  margin: 5px;
  
}

.Title{
  margin-top: 5px;
}
body{
  margin-bottom: 50px;
}
*{
  overflow:hidden;
}